# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
env/
*.egg-info/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Python dependencies
requirements.txt

# Uploads (se não quiser versionar arquivos enviados)
static/uploads/